#start-container {
    width: 100vw;
    height: 100vh;
    background: #262626;
    color: #fff;
    z-index: 5;
}

#start-container #right-part #texts {
    width: max-content;
    height: max-content;
    background: transparent;
    padding: 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 1;
    animation-name: startUpHeading;
    animation-duration: 0.6s;
    animation-timing-function: ease-out;
}

#start-container #right-part #texts p {
    animation-name: startUpParagraph;
    animation-duration: 0.6s;
    animation-timing-function: ease-out;
}

@keyframes startUpHeading {
    0% {
        opacity: 0.2;
        left: 38%;
    }

    100% {
        opacity: 1;
        left: 50%;
    }
}

@keyframes startUpParagraph {
    0% {
        margin-right: 40px;
    }

    100% {
        margin-right: 0px;
    }
}

#start-container #right-part #texts h1 {
    font-size: 120px;
    font-family: "Raleway";
    font-weight: 900;
}

#start-container #right-part #texts p {
    font-family: "Poppins";
    font-weight: 200;
    font-size: 30px;
    opacity: 0.5;
    text-align: right;
}
